[submodule "Diezel/vendor/spdlog"]
	path = Diezel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Diezel/vendor/GLFW"]
	path = Diezel/vendor/GLFW
	url = git@github.com:JulSupp/glfw.git
